<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
<menu id="root-menu" label="MENU">
<item label="Wasabi" icon="/usr/share/icons/hicolor/48x48/apps/wassabee.png"><action name="Execute"><command>/usr/local/bin/wassabee</command></action></item>
<item label="File Manager" icon="/usr/share/icons/hicolor/scalable/apps/org.xfce.thunar.svg"><action name="Execute"><command>/usr/bin/thunar</command></action></item>
<item label="Notepad" icon="/usr/share/icons/hicolor/scalable/apps/org.xfce.mousepad.svg"><action name="Execute"><command>/usr/bin/mousepad</command></action></item>
<item label="Terminal Emulator" icon="/usr/share/pixmaps/xterm-color_48x48.xpm"><action name="Execute"><command>/usr/bin/xfce4-terminal</command></action></item>
</menu>
</openbox_menu>